{erl_first_files, ["src/darius.erl"]}.

%%-----------------------------------------------------------------------------
%% Dependencies
%%-----------------------------------------------------------------------------
{deps,
 [
  {amqp_client, ".*",
   {git, "git://github.com/alex-ethier/amqp_client.git", {branch, "master"}}}
 ]}.

%%-----------------------------------------------------------------------------
%% Test Options
%%-----------------------------------------------------------------------------
{cover_print_enabled, true}.
{cover_enabled, true}.
